@import url(reset.css);

.content {
	margin: 0 auto;
	width: 80%;
}	
.header {
	background-color: white;
	display: flex;
	justify-content: space-between;
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
	z-index: 1;
}
.evian {
	display: flex;
	align-items: center;
	color: red;
	justify-content: flex-start;
	margin: 40px;
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
}
.link {
	color: red;
	text-decoration: none;
}
.links {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.link.three {
	margin: 10px;
}
.link.two {
	margin: 10px;
}
.link.one {
	margin: 10px;
}
.image {
	width: 100%;
	height: 100%;
}
.text {
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	display: flex;
	align-content: center;
	letter-spacing: 0.05cm;
	border: 3px solid #F8BFC7;
	border-radius: 20px;
	padding: 30px;
	margin: 50px;
}
.images {
	display: flex;
	justify-content: space-around;
	margin-top: 180px;
	margin-bottom: 80px;
}
.titles {
	display: flex;
	justify-content: space-around;
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	display: flex;
	text-align: center;
	color: black;
	margin-left: 10px;
	margin-bottom: 100px;
}
.bottomSection {
	display: flex;
	justify-content: space-around;
	left: 160px;
	margin: 30px;
	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 50px;
	margin-bottom: 100px;
}
.bottle {
	margin-right: 60px;
}
.paragraph {
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	display: flex;
	align-items: center;
	letter-spacing: 0.05cm;
}
footer {
	background: #F8BFC7;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.copyright, .back {
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
	display: flex;
	align-items: center;
	color: white;
	margin: 50px;
	text-decoration: none;
}
